.navbar {
  width: 100vw;
  height: 56px;
  background-color: var(--blue);
  color: white;
}

.nav-contents {
  height: 100%;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-contents > * {
  display: flex;
  align-items: center;
}

/* .nav-logo {
  display: flex;
  align-items: center;
}

.nav-search {
  display: flex;
  align-items: center;
} */
.nav-more > span,
.nav-cart > span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
