.container {
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 8px;
}

.filters,
.products {
  background-color: white;
  border-radius: 1px;
}
